<body>
  <section class="section has-background-dark">
    <div class="container is-dark">
      <h1 class="title is-offset-one-fifth has-text-white">About Me</h1>
      <h2 class="subtitle has-text-white">
       I am Isidro I am an Oregon based iOS and web developer! I am mainly self taught, but have two
       programming certificates and have experienced the joy of fast paced programming bootcamp. I began my journey into the development 
       field a few years ago once I had broken into the IT field and had the opportunnity to work as a contractor at Facebook and eBay as well
       as having the opportunnity to freelance and build connections with many clients.
       Through these experiences I realized my passion for building and deploying simple and complex web apps and developing iOS mobile applications.
      </h2>
      <h2 class="subtitle has-text-white">
        I have had exposure to the following technologies HTML, CSS, MEAN, JavaScript, jQuery, Sockets, Nodejs, Python, Mongodb, Mysql, iOS-Swift, Github, d3js.
        Keep scrolling below to view projects I have developed and deployed!
      </h2>
      <img src="../../assets/HTML.png" alt="HTML">
      <img src="../../assets/CSS.png" alt="CSS">
      <img src="../../assets/expressjs.png" alt="express">
      <img src="../../assets/MEAN.png" alt="MEAN">
      <img src="../../assets/JavaScript.png" alt="JS">
      <img src="../../assets/jQuery.png" alt="jQuery">
      <img src="../../assets/socket.png" alt="sockets">
      <img src="../../assets/nodejs.png" alt="nodejs">
      <img src="../../assets/python.png" alt="python">
      <img src="../../assets/mongodb.png" alt="mongodb">
      <img src="../../assets/mysql.png" alt="mysql">
      <img src="../../assets/nodejs.png" alt="nodejs">
      <img src="../../assets/iOS-Swift.png" alt="iOS">
      <img src="../../assets/github.png" alt="github">
      <img src="../../assets/d3.png" alt="MEAN">
    </div>
  </section>
</body>