<section class="section has-background-dark">
<div class="container is-dark">
  <h1 class="title is-offset-one-fifth has-text-white">Self Improvement</h1>
  <h1 class="subtitle has-text-white">D3JS</h1>
  <p class="has-text-white">In my endeavor to learn new technologies I have been practicing with D3JS. Although it has a steep learning curve
   practicing little by little every day  definitely helps improve my skills in it. The following I did not not build, but more used to understand 
   how to integrate D3JS into an Angular Project. Kudos to <a href="https://keathmilligan.net">Keath Milligan</a> for for a great piece.
  </p>
  <div class="d3-chart" #chart></div>
</div>
</section>
